body, section {
  padding: 10px;
}
nav {
  margin: auto 0;
}
button {
  margin: 5px;
  text-transform: uppercase;
  border-radius: 4px;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto
}
.question-1 div {
  color: white;
  text-align: center;
}
.block-1 {
  background-color: #FFC0CB;
  width: 68px;
  height: 68px;
  left:20px;
}
.block-2 {
  background-color: #B0E0E6;
  width: 68px;
  height: 68px;
  left:100px;
}
.block-3 {
  background-color: #8FBC8F;
  width: 68px;
  height: 68px;
  left:180px;
}
.response.bg-info {
  margin: 10px;
  padding: 10px;
  width: 50%;
  border-radius: 4px;
}
.btn-group.pull-right {
  margin: 10px;
}